{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Будь ласка введіть(та підтвердьте) ваш новий пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>\{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новий пароль:</label></td>
                    <td>\{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>\{{ form.new_password2.errors }}
                        <label for="id_new_password2">Підтвердження паролю:</label></td>
                    <td>\{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Змінити пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Помилка скидання паролю!</h1>
        <p>Посилання на скидання паролю недійсне, можливо тому, що вона вже була використана раніше. Будь ласка, надішліть запит повторно.</p>
    {% endif %}

{% endblock %}